doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1')
        link(rel='shortcut icon', type='image/x-icon', href='')
    body
        .Header
            .Header-inner
                a.Header-logo(href='/')
                    img(src='/images/home/pc/logo.png')
        .Compatibility
            .Compatibility-icon
                img(src='/images/browser/icon@2x.png')
            .Compatibility-tip 你正在使用的浏览器版本过低，将不能正常浏览和使用。
            .CompatibilityBrowsers
                a.CompatibilityBrowsers-item(href='https://ie.sogou.com/')
                    .CompatibilityBrowsers-icon.CompatibilityBrowsers-chromeIcon
                        img(src='/images/browser/sogou.png')
                    .CompatibilityBrowsers-text 使用 搜狗高速 浏览器
                    .CompatibilityBrowsers-divider
                a.CompatibilityBrowsers-item(href='http://www.google.com/chrome/')
                    .CompatibilityBrowsers-icon.CompatibilityBrowsers-chromeIcon
                        img(src='/images/browser/google-chrome@2x.png')
                    .CompatibilityBrowsers-text 使用 Google Chrome 浏览器
                    .CompatibilityBrowsers-divider
                a.CompatibilityBrowsers-item(href='https://www.microsoft.com/software-download/windows10')
                    .CompatibilityBrowsers-icon.CompatibilityBrowsers-ieIcon
                        img(src='/images/browser/internet-explorer@2x.png')
                    .CompatibilityBrowsers-text 升级 IE 浏览器
